[submodule "third_party/rfmarkit-interface-ng"]
	path = third_party/rfmarkit-interface-ng
	url = https://github.com/robotflow-initiative/rfmarkit-interface-ng
[submodule "third_party/esp32_BNO08x"]
	path = third_party/esp32_BNO08x
	url = https://github.com/myles-parfeniuk/esp32_BNO08x.git
