# Hardware v2: ESP32-S3 + BNO08X

# IMU sensor selection
CONFIG_IMU_SENSOR_BNO08X=y

# Wi-Fi SoftAP disabled
CONFIG_ESP_WIFI_SOFTAP_SUPPORT=n

# LWIP IRAM optimization
CONFIG_LWIP_IRAM_OPTIMIZATION=y

# NimBLE connection reattempt
CONFIG_BT_NIMBLE_ENABLE_CONN_REATTEMPT=y
CONFIG_BT_NIMBLE_MAX_CONN_REATTEMPT=3

# Console via USB-JTAG
CONFIG_ESP_CONSOLE_SECONDARY_USB_SERIAL_JTAG=y
